.invert{
    filter:invert(1);
}

.display-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.justify-space-around{
    justify-content: space-around;

}
.justify-space-between{
    justify-content: space-between;
}
.relative{
    position: relative;
}
.absolute-zero{
    position:absolute;
    bottom: 0;
}
.fixed-zero{
    position: fixed;
    bottom:0;
}

