* {
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: blueviolet;
    line-height: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(62, 25, 25);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choice {
    margin: 40px;
    height: 180px;
    width: 180px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.choice:hover {
    background-color: black;
    cursor: pointer;
}

.choice img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.score>p {
    text-align: center;
    font-size: 25px;
}

#user,
#computer {
    font-size: 60px;
}

.result {
    text-align: center;
    margin-top: 50px
}

.result>p {

    display: inline;
    background-color: blueviolet;
    /* border:1px solid rgb(0, 0, 0); */
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 33px;
}